*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
body{
  background-image: linear-gradient(135deg,red,blue);
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.search-wrapper{
  font-size: large;
}
h1{
  text-align: left;
  padding:10px;
}
table{
  box-shadow: 4px 4px #201f1f;
}
tbody tr td{

  min-height:10vh ;
  
}
td img{
  width: 35px;
  height: 35px;
  margin:auto ;
  margin-right:10px;
  border: 1px solid #000;
}
h3{
  color:green;
}
.college .btns{
  /* background-color: red   !important; */
  padding-top: 5%;
  display: flex;
  
}
.all-btns {
  padding: 4px 10px; 
  margin:5px;
  display:felx;
  justify-content: space-between;
  font-size: 2px; 

}

.tab{
  width:85vw;
  align-items: center;
  text-align: center;
  margin:auto;
  padding: 10px;
  /* border: 2px solid #000; */
}
